body {
  min-height: 100vh;
  background-color:dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.box {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:sans-serif;
  min-height: 400px;
  width: 500px;
  border-radius: 10px;
  position: relative;
  padding-bottom: 10px;
  margin: 10px;
}

.botaum {
  background-color: green;
  border-radius: 10px;
  box-shadow: none;
  margin: 0;
  border-color: lightgreen;
  border-top: 0;
  border-bottom: 0;
  font-family:sans-serif;
  height: 40px;
  width: 80px;
  padding: 0;
  color: rgb(255, 255, 255);
}

input {
  border-color: gainsboro;
  border-radius: 5px;
  height: 30px;
  width: 360px;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding: 0;
  top: 0;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 0;
  top: 0;
  font-family: sans-serif;
}

.box2 {
  background-color: #63b3e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-family: sans-serif;
  width: 70%;
  border-radius: 10px;
}

.inptton {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 40px;
}

.botaum2 {
  background-color: rgb(48, 11, 212);
  border-radius: 10px;
  box-shadow: none;
  margin: 0;
  border-color: rgb(120, 112, 235);
  border-top: 0;
  border-bottom: 0;
  font-family:sans-serif;
  height: 40px;
  width: 80px;
  padding: 0;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  width: 70%;
  font-weight: bold;
  font-size: 17px;
}